.GREEN {
  background: #2E2C1F;
}

.BROWN .nav-link {
  color: #4b2b23;
}

.BROWN .nav-link.active {
  background: #4b2b23;
  color: #ffffff;
}

.BROWN .nav-link:hover {
  text-decoration: underline;
}
.BG .row img {
  width: 1000px;
}

.BG {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/60/62/77/606277c71aee5a0a09db2c029da95744.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
